<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <title>Event Calendar</title>

    <link rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@event-calendar/build@3.7.1/event-calendar.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .ec-timeline .ec-time,
        .ec-timeline .ec-line {
            width: 80px;
        }

        .ec-event {
            padding: 10px;
        }

        h4.ec-event-title {
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            font-size: 14px;
        }

        .ec-button {
            border: none;
            border-radius: 50px;
            background-color: lightblue;
        }

        .ec-button:disabled {
            border: none;
            border-radius: 50px;
            background-color: lightgray;
        }

        .ec-button:hover {
            border-radius: 50px;
        }

        .ec-active {
            border-radius: 50px;
        }
    </style>
</head>

<body style="background-color: lightgray;">

    <div class="p-5 m-5 rounded-2" style="background-color: white;">

        <div class="container mt-5">
            <h1 class="mb-5 text-center text-decoration-underline">Scheduler</h1>
            <form id="dynamicForm" class="mb-4">
                <div class="mb-3 d-flex">
                    <div style="flex: 1;">
                        <label class="form-label">Start Date</label>
                        <input type="date" id="startDate" name="startDate" class="form-control">
                    </div>
                    <div style="flex: 1;">
                        <label class="form-label">End Date</label>
                        <input type="date" id="endDate" name="endDate" class="form-control">
                    </div>
                </div>
                <div class="mb-3 d-flex">
                    <div style="flex: 1;">
                        <label class="form-label">Start Time</label>
                        <input type="time" id="startTime" name="startTime" class="form-control">
                    </div>
                    <div style="flex: 1;">
                        <label class="form-label">End Time</label>
                        <input type="time" id="endTime" name="endTime" class="form-control">
                    </div>
                </div>

                <div class="mb-3 d-flex p-1">
                    <label class="form-check-label"><input type="checkbox" id="globalNoOverlap" name="globalNoOverlap"
                            class="form-check-input mx-2"> Global No Overlap</label>
                </div>

                <div class="input-group mb-2">
                    <button type="button" id="isAllowedMonday" class="form-control btn btn-outline-success mb-3 active" data-bs-toggle="button" aria-pressed="true">Monday</button>
                    <button type="button" id="isAllowedTuesday" class="form-control btn btn-outline-success mb-3 active" data-bs-toggle="button" aria-pressed="true">Tuesday</button> <button type="button" id="isAllowedWednesday" class="form-control btn btn-outline-success mb-3 active" data-bs-toggle="button" aria-pressed="true">Wednesday</button>
                    <button type="button" id="isAllowedThursday" class="form-control btn btn-outline-success mb-3 active" data-bs-toggle="button" aria-pressed="true">Thursday</button>
                    <button type="button" id="isAllowedFriday" class="form-control btn btn-outline-success mb-3 active" data-bs-toggle="button" aria-pressed="true">Friday</button>
                    <button type="button" id="isAllowedSaturday" class="form-control btn btn-outline-success mb-3 active" data-bs-toggle="button" aria-pressed="true">Saturday</button>
                    <button type="button" id="isAllowedSunday" class="form-control btn btn-outline-success mb-3 active" data-bs-toggle="button" aria-pressed="true">Sunday</button>
                </div>

                <div id="eventsGroup" class="mb-3">
                    <label class="form-label h3">Event</label>
                    <hr>
                    <div class="dynamic-group">
                        <div class="input-group mb-2">
                            <input type="text" name="eventName[]" class="form-control" placeholder="Enter Event">
                            <input type="number" name="eventDuration[]" class="form-control"
                                placeholder="Enter Duration">
                            <select name="eventType[]" class="form-control">
                                <option value="single" selected>Single</option>
                                <option value="yearly">Yearly</option>
                                <option value="monthly">Monthly</option>
                                <option value="weekly">Weekly</option>
                                <option value="daily">Daily</option>
                            </select><br><br>
                            <button type="button" class="btn btn-outline-danger remove-event">Delete</button>
                        </div>
                        <hr>
                    </div>
                </div>
                <button type="button" id="addEvents" class="btn btn-outline-success mb-3">Add Events</button>

                <div id="constraintsGroup" class="mb-3">
                    <label class="form-label h3">Constraint</label>
                    <hr>
                </div>
                <div class="input-group mb-2">
                    <select id="addConstraintsType" class="form-control flex mb-3">
                        <option value="noOverlap" selected>No Overlap</option>
                        <option value="noOverlapDay" selected>No Overlap Day</option>
                        <option value="noOverlapWeek" selected>No Overlap Week</option>
                        <option value="noOverlapMonth" selected>No Overlap Month</option>
                        <option value="noOverlapYear" selected>No Overlap Year</option>
                        <option value="noOverlap" selected>No Overlap</option>
                        <option value="eventOrder">Event Order</option>
                        <option value="eventAfter">Event After</option>
                        <option value="eventBefore">Event Before</option>
                    </select><br><br>
                    <button type="button" id="addConstraints" class="btn btn-outline-success mb-3">Add
                        Constraint</button>
                </div>

                <br>

                <button type="submit" class="btn btn-primary">Submit</button>
            </form>

        </div>
    </div>

    <div id="calendarGroup">
    </div>

    <script src="https://cdn.jsdelivr.net/npm/@event-calendar/build@3.7.1/event-calendar.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        // Given a time, add the correseponding hour to it
        function addHoursToTime(time, hoursToAdd) {
            const [hours, minutes] = time.split(':').map(Number);
            const date = new Date();
            date.setHours(hours, minutes, 0, 0);
            date.setHours(date.getHours() + hoursToAdd);

            const newHours = date.getHours().toString().padStart(2, '0');
            const newMinutes = date.getMinutes().toString().padStart(2, '0');
            return `${newHours}:${newMinutes}`;
        }

        // Caalculate the differance beteween two dates
        function calculateDateDifference(date1, date2) {
            const firstDate = new Date(date1);
            const secondDate = new Date(date2);

            const differenceInMilliseconds = Math.abs(secondDate - firstDate);

            const differenceInDays = differenceInMilliseconds / (1000 * 60 * 60 * 24);

            return differenceInDays;
        }

        // get an id elemeent given a data map and a key
        function getIdByKey(data, key) {
            const item = data.find(entry => entry.title === key);
            return item ? item.id : null;
        }

        // Function to convert HSL color format to RGB color format encoded in hexadecimals
        function hslToRgb(h, s, l) {
            let r, g, b;

            if (s === 0) {
                r = g = b = l;
            } else {
                function hueToRgb(p, q, t) {
                    if (t < 0) t += 1;
                    if (t > 1) t -= 1;
                    if (t < 1 / 6) return p + (q - p) * 6 * t;
                    if (t < 1 / 2) return q;
                    if (t < 2 / 3) return p + (q - p) * (2 / 3 - t) * 6;
                    return p;
                }

                let q = l < 0.5 ? l * (1 + s) : l + s - l * s;
                let p = 2 * l - q;
                h = h / 360;
                r = hueToRgb(p, q, h + 1 / 3);
                g = hueToRgb(p, q, h);
                b = hueToRgb(p, q, h - 1 / 3);
            }

            r = Math.round(r * 255);
            g = Math.round(g * 255);
            b = Math.round(b * 255);

            return `#${((1 << 24) + (r << 16) + (g << 8) + b).toString(16).slice(1)}`;
        }

        // Seperate camelCase into seperate wors ("thisIscamelCase" => "This Iss Camel Case")
        function camelCaseToWords(input) {
            return input
                .replace(/([a-z])([A-Z])/g, '$1 $2')
                .split(' ')
                .map(word => word.charAt(0).toUpperCase() + word.slice(1))
                .join(' ');
        }

        // Event listener when document loaded
        document.addEventListener('DOMContentLoaded', (event) => {
            const startTimeInput = document.getElementById('startTime');
            const endTimeInput = document.getElementById('endTime');
            startTimeInput.addEventListener('input', function () {
                let [hours, minutes] = startTimeInput.value.split(':').map(Number);

                minutes = Math.floor(minutes / 60) * 60;
                if (minutes >= 60) {
                    minutes = 0;
                    hours += 1;
                }

                startTimeInput.value = `${String(hours).padStart(2, '0')}:${String(minutes).padStart(2, '0')}`;
            });
            endTimeInput.addEventListener('input', function () {
                let [hours, minutes] = endTimeInput.value.split(':').map(Number);

                minutes = Math.floor(minutes / 60) * 60;
                if (minutes >= 60) {
                    minutes = 0;
                    hours += 1;
                }

                endTimeInput.value = `${String(hours).padStart(2, '0')}:${String(minutes).padStart(2, '0')}`;
            });
        });

        // Event Trigger when document is ready
        $(document).ready(function () {
            const currentDate = new Date();

            const firstDay = new Date(2024, currentDate.getMonth(), 2);
            const lastDay = new Date(2024, currentDate.getMonth() + 1, 1);

            const firstDayFormatted = firstDay.toISOString().split('T')[0];
            const lastDayFormatted = lastDay.toISOString().split('T')[0];

            document.getElementById('startDate').value = firstDayFormatted;
            document.getElementById('endDate').value = lastDayFormatted;

            $('#startDate').value = firstDayFormatted;
            $('#endDate').value = lastDayFormatted;

            $('#startTime').val('07:00');
            $('#endTime').val('17:00');

            $('#addEvents').on('click', function () {
                $('#eventsGroup').append(`
                <div class="dynamic-group">
                    <div class="input-group mb-2">
                        <input type="text" name="eventName[]" class="form-control" placeholder="Enter Event">
                        <input type="number" name="eventDuration[]" class="form-control" placeholder="Enter Duration">
                        <select name="eventType[]" class="form-control">
                            <option value="single" selected>Single</option>
                            <option value="yearly">Yearly</option>
                            <option value="monthly">Monthly</option>
                            <option value="weekly">Weekly</option>
                            <option value="daily">Daily</option>
                        </select><br><br>
                        <button type="button" class="btn btn-outline-danger remove-event">Delete</button>
                    </div>
                    <hr>
                </div>
                `);
            });
            $('#addConstraints').on('click', function () {
                var constraintType = document.getElementById("addConstraintsType").value;
                var args = "";
                if (constraintType == "noOverlap") {
                    var args = '<input type="text" name="var1[]" class="form-control" placeholder="Enter Event 1">';
                    args += '<input type="text" name="var2[]" class="form-control" placeholder="Enter Event 2">';
                }
                else if (constraintType == "noOverlap") {
                    var args = '<input type="text" name="var1[]" class="form-control" placeholder="Enter Event 1">';
                    args += '<input type="text" name="var2[]" class="form-control" placeholder="Enter Event 2">';
                }
                else if (constraintType == "noOverlapDay") {
                    var args = '<input type="text" name="var1[]" class="form-control" placeholder="Enter Event 1">';
                    args += '<input type="text" name="var2[]" class="form-control" placeholder="Enter Event 2">';
                }
                else if (constraintType == "noOverlapWeek") {
                    var args = '<input type="text" name="var1[]" class="form-control" placeholder="Enter Event 1">';
                    args += '<input type="text" name="var2[]" class="form-control" placeholder="Enter Event 2">';
                }
                else if (constraintType == "noOverlapMonth") {
                    var args = '<input type="text" name="var1[]" class="form-control" placeholder="Enter Event 1">';
                    args += '<input type="text" name="var2[]" class="form-control" placeholder="Enter Event 2">';
                }
                else if (constraintType == "noOverlapYear") {
                    var args = '<input type="text" name="var1[]" class="form-control" placeholder="Enter Event 1">';
                    args += '<input type="text" name="var2[]" class="form-control" placeholder="Enter Event 2">';
                }
                else if (constraintType == "eventOrder") {
                    var args = '<input type="text" name="var1[]" class="form-control" placeholder="Enter Event 1">';
                    args += '<input type="text" name="var2[]" class="form-control" placeholder="Enter Event 2">';
                }
                else if (constraintType == "eventAfter") {
                    var args = '<input type="text" name="var1[]" class="form-control" placeholder="Enter Event">';
                    args += '<input type="date" name="var2[]" class="form-control" placeholder="Enter Date">';
                }
                else if (constraintType == "eventBefore") {
                    var args = '<input type="text" name="var1[]" class="form-control" placeholder="Enter Event">';
                    args += '<input type="date" name="var2[]" class="form-control" placeholder="Enter Date">';
                }
                $('#constraintsGroup').append(`
                <div class="dynamic-group">
                    <label class="form-label">` + camelCaseToWords(constraintType) + ` </label>
                    <div class="input-group mb-2">
                        <input type="hidden" name="constraintType[]" class="form-control" value="` + constraintType + `">`
                    + args +
                    `                        <button type="button" class="btn btn-outline-danger remove-event">Delete</button>
                    </div>
                    <hr>
                </div>
                `);
            });

            $(document).on('click', '.remove-event', function () {
                $(this).closest('.dynamic-group').remove();
            });

            $('#dynamicForm').on('submit', function (e) {
                e.preventDefault();

                let formData = {
                    startDate: $('#startDate').val(),
                    endDate: $('#endDate').val(),
                    startTime: $('#startTime').val(),
                    endTime: $('#endTime').val(),
                    globalNoOverlap: $('#globalNoOverlap').is(':checked'),
                    weekdays: {
                        monday: $('#isAllowedMonday').attr('aria-pressed') === 'true',
                        tuesday: $('#isAllowedTuesday').attr('aria-pressed') === 'true',
                        wednesday: $('#isAllowedWednesday').attr('aria-pressed') === 'true',
                        thursday: $('#isAllowedThursday').attr('aria-pressed') === 'true',
                        friday: $('#isAllowedFriday').attr('aria-pressed') === 'true',
                        saturday: $('#isAllowedSaturday').attr('aria-pressed') === 'true',
                        sunday: $('#isAllowedSunday').attr('aria-pressed') === 'true',
                    },
                    event: $('input[name="eventName[]"]').map(function (index) {
                        return {
                            name: $('input[name="eventName[]"]').eq(index).val(),
                            duration: $('input[name="eventDuration[]"]').eq(index).val(),
                            type: $('select[name="eventType[]"]').eq(index).val(),
                        };
                    }).get(),
                    constraint: $('input[name="constraintType[]"]').map(function (index) {
                        return {
                            constraintType: $('input[name="constraintType[]"]').eq(index).val(),
                            var1: $('input[name="var1[]"]').eq(index).val(),
                            var2: $('input[name="var2[]"]').eq(index).val(),
                        };
                    }).get()

                };

                $.ajax({
                    url: '/',
                    type: 'POST',
                    contentType: 'application/json',
                    data: JSON.stringify(formData),
                    success: function (response) {
                        $('#calendarGroup').empty();
                        $('#calendarGroup').append(`
                            <div class="p-5 m-5 rounded-2" style="background-color: white;">
                                <h4 class="col">Event Calendar Result 1</h4>
                                <div id="ec1" class="col"></div>
                            </div>

                            <div class="p-5 m-5 rounded-2" style="background-color: white;">
                                <h4 class="col">Event Calendar Result 2</h4>
                                <div id="ec2" class="col"></div>
                            </div>

                            <div class="p-5 m-5 rounded-2" style="background-color: white;">
                                <h4 class="col">Event Calendar Result 3</h4>
                                <div id="ec3" class="col"></div>
                            </div>
                        `);

                        const results = response['results'];
                        const events = response['events'];

                        var minTime = addHoursToTime('00:00', response['start_hour']);
                        var maxTime = addHoursToTime('00:00', response['end_hour']);
                        const resources = Object.keys(events).map((key, index) => ({
                            id: index + 1,
                            title: key
                        }));

                        const outputs = [];
                        for (let index = 0; index < 3; index++) {
                            const output = [];
                            for (const [name, events] of Object.entries(results[index])) {
                                var count = 0;
                                var date = events[0][0];
                                var start = events[0][1];
                                events.forEach(([date, num]) => {
                                    count++;
                                });
                                end = date + ' ' + addHoursToTime('00:00', start + count);
                                start = date + ' ' + addHoursToTime('00:00', start);
                                resourceId = getIdByKey(resources, name);
                                output.push({ start, end, resourceId, title: name, color: hslToRgb(Math.floor(Math.random() * 256), 0.5, 0.5) });
                            }
                            outputs.push(output);
                        }

                        const ec1 = new EventCalendar(document.getElementById('ec1'), {
                            view: 'timeGridWeek',
                            headerToolbar: {
                                start: 'prev,next today',
                                center: 'title',
                                end: 'dayGridMonth,timeGridWeek,timeGridDay,listWeek resourceTimeGridWeek,resourceTimelineWeek'
                            },
                            resources: resources,
                            scrollTime: '09:00:00',
                            events: outputs[0],
                            views: {
                                timeGridWeek: {
                                    pointer: true,
                                    slotMinTime: minTime,
                                    slotMaxTime: maxTime
                                },
                                resourceTimeGridWeek: {
                                    pointer: true,
                                    slotMinTime: minTime,
                                    slotMaxTime: maxTime
                                },
                                resourceTimelineWeek: {
                                    pointer: true,
                                    slotMinTime: minTime,
                                    slotMaxTime: maxTime,
                                    slotWidth: 80,
                                    resources: resources
                                }
                            },
                            dayMaxEvents: true,
                            nowIndicator: true,
                            selectable: true
                        });
                        const ec2 = new EventCalendar(document.getElementById('ec2'), {
                            view: 'timeGridWeek',
                            headerToolbar: {
                                start: 'prev,next today',
                                center: 'title',
                                end: 'dayGridMonth,timeGridWeek,timeGridDay,listWeek resourceTimeGridWeek,resourceTimelineWeek'
                            },
                            resources: resources,
                            scrollTime: '09:00:00',
                            events: outputs[1],
                            views: {
                                timeGridWeek: {
                                    pointer: true,
                                    slotMinTime: minTime,
                                    slotMaxTime: maxTime
                                },
                                resourceTimeGridWeek: {
                                    pointer: true,
                                    slotMinTime: minTime,
                                    slotMaxTime: maxTime
                                },
                                resourceTimelineWeek: {
                                    pointer: true,
                                    slotMinTime: minTime,
                                    slotMaxTime: maxTime,
                                    slotWidth: 80,
                                    resources: resources
                                }
                            },
                            dayMaxEvents: true,
                            nowIndicator: true,
                            selectable: true
                        });
                        const ec3 = new EventCalendar(document.getElementById('ec3'), {
                            view: 'timeGridWeek',
                            headerToolbar: {
                                start: 'prev,next today',
                                center: 'title',
                                end: 'dayGridMonth,timeGridWeek,timeGridDay,listWeek resourceTimeGridWeek,resourceTimelineWeek'
                            },
                            resources: resources,
                            scrollTime: '09:00:00',
                            events: outputs[2],
                            views: {
                                timeGridWeek: {
                                    pointer: true,
                                    slotMinTime: minTime,
                                    slotMaxTime: maxTime
                                },
                                resourceTimeGridWeek: {
                                    pointer: true,
                                    slotMinTime: minTime,
                                    slotMaxTime: maxTime
                                },
                                resourceTimelineWeek: {
                                    pointer: true,
                                    slotMinTime: minTime,
                                    slotMaxTime: maxTime,
                                    slotWidth: 80,
                                    resources: resources
                                }
                            },
                            dayMaxEvents: true,
                            nowIndicator: true,
                            selectable: true
                        });

                        function _pad(num) {
                            let norm = Math.floor(Math.abs(num));
                            return (norm < 10 ? '0' : '') + norm;
                        }
                    },
                    error: function (xhr, status, error) {
                        console.error('Error:', error);
                    }
                });
            });
        });
    </script>
</body>

</html>